<div>
    <!-- Static Site Search Vue Components -->

    <div class="search -navbar" id="search1">
        <input id="search1input" type="text" placeholder="Search site..." v-model="txt" @blur="close()" maxlength="50">
        <div class="search-results" :style="{'display': showresult?'block':'none'}">
            <a v-for="item in result" :href="item.url">{{ printf "{{ item.display }}" }}</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.16/vue.min.js" integrity="sha512-Wx8niGbPNCD87mSuF0sBRytwW2+2ZFr7HwVDF8krCb3egstCc4oQfig+/cfg2OHd82KcUlOYxlSDAqdHqK5TCw==" crossorigin="anonymous"></script>
    <script>
        let mounted = function() {
            // add an event listener for mobile
            document.getElementById("search1input").addEventListener("keyup", e => {
                this.txt = e.target.value;
                this.search();
            });
            // loading the full JSON to 'bdd'
            axios.get('{{ with .Site.GetPage "/search.md" }}{{ .Permalink }}{{ end }}')
                .then(function(response) {
                    vuesearch1.bdd = response.data.results;
                })
                .catch(function(error) {
                    console.log(error);
                });
        }
        let close = function() {
            // Close the dropdown when the input search loses focus
            // with a 300ms delay to let time for the click on link to work
            setTimeout(function() {
                vuesearch1.showresult = false;
                vuesearch1.txt = '';
            }, 300);
        }
        let search = function() {
            // we will search when the user stopped typing for 500ms
            clearTimeout(this.timeoutID);
            this.timeoutID = setTimeout(this.dosearch, 500);
        }

        let dosearch = function() {
            // do the search in the 'bdd'
            this.result = []; // clear previous result
            let words = this.txt.split(' '); // split typed text with spaces
            let words2 = []; // words that will be searched
            words.forEach(function(element) { // to skip empty words, if multiple spaces typed (i.e "a  b c")
                if (element) {
                    words2.push(element);
                }
            });
            let r;
            let resultmp;
            words2.forEach(function(e) {
                r = vuesearch1.bdd.filter(p => p.content.indexOf(e.toLowerCase()) !== -1);
                if (vuesearch1.result.length === 0) {
                    vuesearch1.result = r.slice();
                    return;
                }
                resultmp = [];
                vuesearch1.result.forEach(function(all1) {
                    r.forEach(function(all2) {
                        if (all1.url === all2.url) {
                            resultmp.push(all1);
                        }
                    });
                });
                vuesearch1.result = resultmp.slice();
            });
            this.result = this.result.slice(0, 10); // 10 results max
            this.result = this.result.sort(function (a, b) {
                return ('' + a.display).localeCompare(b.display);
            })
            this.showresult = (this.result.length > 0);
        }
        let vuesearch1 = new Vue({
            el: '#search1',
            data: {
                txt: '',
                timeoutID: 0,
                showresult: false,
                result: {},
                bdd: []
            },
            mounted: mounted,
            methods: {
                close: close,
                search: search,
                dosearch: dosearch
            }
        });
    </script>
</div>