<div>
    <div class="search -sidebar" id="search2">
        <input id="search2input" type="text" placeholder="Search site..." v-model="txt" @blur="close()" maxlength="50">
        <div class="search-results" :style="{'display': showresult?'block':'none'}">
            <a v-for="item in result" :href="item.url">{{ printf "{{ item.display }}" }}</a>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.16/vue.min.js" integrity="sha512-Wx8niGbPNCD87mSuF0sBRytwW2+2ZFr7HwVDF8krCb3egstCc4oQfig+/cfg2OHd82KcUlOYxlSDAqdHqK5TCw==" crossorigin="anonymous"></script>
<script>
    let mounted_sidebar = function() {
        document.getElementById("search2input").addEventListener("keyup", e => {
            this.txt = e.target.value;
            this.search();
        });
        axios.get('{{ with .Site.GetPage "/search.md" }}{{ .Permalink }}{{ end }}')
            .then(function(response) {
                vuesearch2.bdd = response.data.results;
            })
            .catch(function(error) {
                console.log(error);
            });
    }
    let close_sidebar = function() {
        setTimeout(function() {
            vuesearch2.showresult = false;
            vuesearch2.txt = '';
        }, 300);
    }

    let dosearch_sidebar = function() {
        this.result = [];
        var words = this.txt.split(' ');
        var words2 = [];
        words.forEach(function(element) {
            if (element) {
                words2.push(element);
            }
        });
        var r;
        var resultmp;
        words2.forEach(function(e) {
            r = vuesearch2.bdd.filter(p => p.content.indexOf(e.toLowerCase()) !== -1);
            if (vuesearch2.result.length === 0) {
                vuesearch2.result = r.slice();
                return;
            }
            resultmp = [];
            vuesearch2.result.forEach(function(all1) {
                r.forEach(function(all2) {
                    if (all1.url === all2.url) {
                        resultmp.push(all1);
                    }
                });
            });
            vuesearch2.result = resultmp.slice();
        });
        this.result = this.result.slice(0, 10);
        this.result = this.result.sort(function (a, b) {
            return ('' + a.display).localeCompare(b.display);
        })
        this.showresult = (this.result.length > 0);
    }
    let vuesearch2 = new Vue({
        el: '#search2',
        data: {
            txt: '',
            timeoutID: 0,
            showresult: false,
            result: {},
            bdd: []
        },
        mounted: mounted_sidebar,
        methods: {
            close: close_sidebar,
            search: search,
            dosearch: dosearch_sidebar
        }
    });
</script>