name: Build Site

on:
  pull_request:
  workflow_dispatch:
  workflow_call:
    secrets:
      DOCUSAURUS_GITHUB_PAT:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml

      - name: Build Static Site
        env:
          GITHUB_PAT: ${{ secrets.DOCUSAURUS_GITHUB_PAT }}
          GHE_PAT: ${{ secrets.DOCUSAURUS_GHE_PAT }}
          GHE_API_URL: ${{ secrets.DOCUSAURUS_GHE_API_URL }}
        run: |
          pnpm install
          pnpm build

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: ./build
