name: Build Site

on:
  pull_request:
  workflow_dispatch:
  workflow_call:
    secrets:
      DOCUSAURUS_GITHUB_PAT:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml

      - name: Build Static Site
        env:
          GITHUB_PAT: ${{ secrets.DOCUSAURUS_GITHUB_PAT }}
          GHE_PAT: ${{ secrets.DOCUSAURUS_GHE_PAT }}
          GHE_API_URL: ${{ secrets.DOCUSAURUS_GHE_API_URL }}
        run: |
          pnpm install
          pnpm build

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: ./build
